.PrimaryPhone {
   display: flex;

   font-family: $sec-ff;
   font-size: toRem(14px);
   color: $d-green;
   line-height: 1.2;

   &:hover,
   &:focus,
   &:active {
      color: $blck;
   }

   &__icon {
      margin-right: 8px;
   }
}

.Button {
   @extend .uk-button;

   &--prm {
      @extend .uk-button-primary;
   }

   &--icon {
      padding-x: 16px;
   }

   &--sec {
      @extend .uk-button-secondary;
   }
}