/* Variables */

$blck: #000;
$gray: #666;
$l-gray: #C6C6C6;
$l-green: #F5F7F3;
$green: #029F59;
$d-green: #254741;

$reg: 400;
$med: 500;
$bold: 700;

/* Functions */

@function toRem($size) {
   @return $size / 16px * 1rem;
}

/* Base */

@import "./uikit.scss";
@import "../layouts/base.scss";


/* Other */
@import "./elements.scss";


/* Components */

@import "../components/header/header.scss";
@import "../components/site-nav/site-nav.scss";
@import "../components/footer/footer.scss";